<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>StoryNest</display-name>

    <servlet>
        <servlet-name>RootServlet</servlet-name>
        <servlet-class>servlets.dataServlets.RootServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RootServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>servlets.authservlets.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/views/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.authservlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/views/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>servlets.dataServlets.HomeServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/views/home</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>BookDetails</servlet-name>
    <servlet-class>servlets.dataServlets.BookDetailsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    <servlet-name>BookDetails</servlet-name>
    <url-pattern>/views/bookDetails</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>ReaderServlet</servlet-name>
    <servlet-class>servlets.dataServlets.ReaderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>ReaderServlet</servlet-name>
    <url-pattern>/views/reader</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.authservlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/views/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddToLibraryServlet</servlet-name>
        <servlet-class>servlets.dataServlets.AddToLibraryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToLibraryServlet</servlet-name>
        <url-pattern>/views/addToLibrary</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LibraryServlet</servlet-name>
        <servlet-class>servlets.dataServlets.LibraryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibraryServlet</servlet-name>
        <url-pattern>/views/library</url-pattern>
    </servlet-mapping>
</web-app>
